In [1]:
import pandas as pd
import csv

cols = ["Year","Make/Model","Male","Female","Unknown","Total","Percent Male","Percent Female","Percent Unknown"]
data = pd.read_csv("Carsfile.csv", skiprows=0, dtype=str, header = 0  )

In [2]:
data = pd.read_csv("Carsfile.csv", skiprows=0, dtype=str, names=cols)
data

,Year,Make/Model,Male,Female,Unknown,Total,Percent Male,Percent Female,Percent Unknown
0,2013,FORD FOCUS,"8,14,172","4,22,731","56,487","12,93,390",63%,33%,4%
1,2013,FORD FIESTA,"5,54,879","6,31,666","54,057","12,40,602",45%,51%,4%
2,2013,VAUXHALL CORSA,"4,58,979","5,62,466","47,108","10,68,553",43%,53%,4%
3,2013,VAUXHALL ASTRA,"6,00,677","3,22,244","40,792","9,63,713",62%,33%,4%
4,2013,VOLKSWAGEN GOLF,"4,83,216","3,10,604","47,563","8,41,383",57%,37%,6%
...,...,...,...,...,...,...,...,...,...
34629,1994,VOLKSWAGEN TL,0,1,0,1,0%,100%,0%
34630,1994,VOLVO C70,1,0,0,1,100%,0%,0%
34631,1994,VOLVO S40,1,0,0,1,100%,0%,0%
34632,1994,W+E Model Missing,1,0,0,1,100%,0%,0%
34633,1994,WHITLOCK BROS Model Missing,1,0,0,1,100%,0%,0%

In [3]:
Newdata = data.iloc[0:582]
Newdata

,Year,Make/Model,Male,Female,Unknown,Total,Percent Male,Percent Female,Percent Unknown
0,2013,FORD FOCUS,"8,14,172","4,22,731","56,487","12,93,390",63%,33%,4%
1,2013,FORD FIESTA,"5,54,879","6,31,666","54,057","12,40,602",45%,51%,4%
2,2013,VAUXHALL CORSA,"4,58,979","5,62,466","47,108","10,68,553",43%,53%,4%
3,2013,VAUXHALL ASTRA,"6,00,677","3,22,244","40,792","9,63,713",62%,33%,4%
4,2013,VOLKSWAGEN GOLF,"4,83,216","3,10,604","47,563","8,41,383",57%,37%,6%
...,...,...,...,...,...,...,...,...,...
577,2013,KIA OPTIMA,853,152,24,"1,029",83%,15%,2%
578,2013,AUDI QUATTRO,928,62,37,"1,027",90%,6%,4%
579,2013,CHEVROLET GMC CORVETTE,944,54,27,"1,025",92%,5%,3%
580,2013,FORD PROBE,781,200,33,"1,014",77%,20%,3%
581,2013,TOYOTA ESTIMA,709,240,64,"1,013",70%,24%,6%

In [169]:
newdata1 = data.iloc[2059:2636]
newdata1 = Newdata.append(newdata1)
newdata2 = data.iloc[4087:4667]
newdata2 = newdata1.append(newdata2)
newdata3 = data.iloc[6076:6654]
newdata3 = newdata2.append(newdata3)
newdata4 = data.iloc[8048:8610]
newdata4 = newdata3.append(newdata4)
newdata5 = data.iloc[10012:10559]
newdata5 = newdata4.append(newdata5)
newdata6 = data.iloc[11963:12501]
newdata6 = newdata5.append(newdata6)
newdata7 = data.iloc[13898:14425]
newdata7 = newdata6.append(newdata7)
newdata8 = data.iloc[15809:16329]
newdata8 = newdata7.append(newdata8)
newdata9 = data.iloc[17677:18182]
newdata9 = newdata8.append(newdata9)
newdata10 = data.iloc[19477:19972]
newdata10 = newdata9.append(newdata10)
newdata11 = data.iloc[21215:21694]
newdata11 = newdata10.append(newdata11)
newdata12 = data.iloc[22918:23396]
newdata12 = newdata11.append(newdata12)
newdata13 = data.iloc[24518:24983]
newdata13 = newdata12.append(newdata13)
newdata14 = data.iloc[26066:26528]
newdata14 = newdata13.append(newdata14)
newdata15 = data.iloc[27621:28066]
newdata15 = newdata14.append(newdata15)
newdata16 = data.iloc[29134:29566]
newdata16 = newdata15.append(newdata16)
newdata17 = data.iloc[30580:31011]
newdata17 = newdata16.append(newdata17)
newdata18 = data.iloc[31995:32403]
newdata18 = newdata17.append(newdata18)
carsdata = data.iloc[33344:33755]
carsdata = newdata18.append(carsdata)
carsdata

,Year,Make/Model,Male,Female,Unknown,Total,Percent Male,Percent Female,Percent Unknown
0,2013,FORD FOCUS,"8,14,172","4,22,731","56,487","12,93,390",63%,33%,4%
1,2013,FORD FIESTA,"5,54,879","6,31,666","54,057","12,40,602",45%,51%,4%
2,2013,VAUXHALL CORSA,"4,58,979","5,62,466","47,108","10,68,553",43%,53%,4%
3,2013,VAUXHALL ASTRA,"6,00,677","3,22,244","40,792","9,63,713",62%,33%,4%
4,2013,VOLKSWAGEN GOLF,"4,83,216","3,10,604","47,563","8,41,383",57%,37%,6%
...,...,...,...,...,...,...,...,...,...
33750,1994,CADILLAC Model Missing,904,84,35,"1,023",88%,8%,3%
33751,1994,MITSUBISHI SPACE RUNNER,721,251,40,"1,012",71%,25%,4%
33752,1994,VOLVO 144,827,151,29,"1,007",82%,15%,3%
33753,1994,SAAB 96,733,220,52,"1,005",73%,22%,5%
33754,1994,SAO PENZA,689,289,25,"1,003",69%,29%,2%

In [161]:
carsdata['Make/Model'] = carsdata['Make/Model'].str.replace("ALFA ROMEO","ALFA-ROMEO")
carsdata['Make/Model'] = carsdata['Make/Model'].str.replace("LAND ROVER","LAND-ROVER")
carsdata['Make/Model'] = carsdata['Make/Model'].str.replace("ASTON MARTIN","ASTON-MARTIN")
new = carsdata['Make/Model'].str.split(" ", expand = True)
carsdata.drop('Make/Model',1)
carsdata['Make'] = new[0]
carsdata['Model'] = new[1]
# carsdata["Make/Model"] = carsdata['Make','Model'].apply(lambda x: ' '.join(x), axis=1)
carsdata
# carsdata['Make/Model'] = carsdata['Make/Model'].str.replace("Mercedes Ben","MERCEDES")

,Year,Make/Model,Male,Female,Unknown,Total,Percent Male,Percent Female,Percent Unknown,Make,Model
0,2013,FORD FOCUS,"8,14,172","4,22,731","56,487","12,93,390",63%,33%,4%,FORD,FOCUS
1,2013,FORD FIESTA,"5,54,879","6,31,666","54,057","12,40,602",45%,51%,4%,FORD,FIESTA
2,2013,VAUXHALL CORSA,"4,58,979","5,62,466","47,108","10,68,553",43%,53%,4%,VAUXHALL,CORSA
3,2013,VAUXHALL ASTRA,"6,00,677","3,22,244","40,792","9,63,713",62%,33%,4%,VAUXHALL,ASTRA
4,2013,VOLKSWAGEN GOLF,"4,83,216","3,10,604","47,563","8,41,383",57%,37%,6%,VOLKSWAGEN,GOLF
...,...,...,...,...,...,...,...,...,...,...,...
33750,1994,CADILLAC Model Missing,904,84,35,"1,023",88%,8%,3%,CADILLAC,Model
33751,1994,MITSUBISHI SPACE RUNNER,721,251,40,"1,012",71%,25%,4%,MITSUBISHI,SPACE
33752,1994,VOLVO 144,827,151,29,"1,007",82%,15%,3%,VOLVO,144
33753,1994,SAAB 96,733,220,52,"1,005",73%,22%,5%,SAAB,96
33754,1994,SAO PENZA,689,289,25,"1,003",69%,29%,2%,SAO,PENZA