# Taking Raw Extracted Data and taking only necessary columns for analysing

Over here we have so many factors such in raw data which are Car body weight, Safety features, exterior and interior features of cars. But our main goal is to differentiate cars using their key factors which is Price, Transmission, fuel type, Power, Engine. So over here we are taking only data which is needed for preprocessing and Analysing.

In [1]:
import pandas as pd
import csv
data = pd.read_csv("CARS_Data.csv", delimiter=',')

In [2]:
#columns selected from raw data 
imp_cols = ['0','1','3','5','6','10']
data = pd.read_csv('CARS_Data.csv', usecols = imp_cols )

In [3]:
#Data available
data

,0,1,3,5,6,10
0,Abarth 124 Spider 1.4 MultiAir 16v Manual 2 do...,€ 44.760,6 speed manual transmission,gasoline,125.0,1368 cc
1,Abarth 124 Spider 1.4 MultiAir 16v Automatic 2...,€ 47.160,6 speed automatic with double clutch,gasoline,125.0,1368 cc
2,Abarth 595 1.4 T-Jet 145 Manual 3 doors specs,€ 25.330,5 speed manual transmission,gasoline,107.0,1368 cc
3,Abarth 595 1.4 T-Jet 145 Automatic 3 doors specs,€ 26.730,5 speed semi-automatic,gasoline,107.0,1368 cc
4,Abarth 595 1.4 T-Jet 165 Turismo Manual 3 door...,€ 29.230,5 speed manual transmission,gasoline,121.0,1368 cc
...,...,...,...,...,...,...
15526,Yugo 45A Manual 3 doors specs,€ 5.579,4 speed manual transmission,gasoline,33.0,903 cc
15527,Yugo 55A Manual 3 doors specs,€ 6.351,5 speed manual transmission,gasoline,40.0,1116 cc
15528,Yugo 65A Manual 3 doors specs,€ 7.258,5 speed manual transmission,gasoline,48.0,1299 cc
15529,Yugo 45 E Manual 3 doors specs,€ 4.537,4 speed manual transmission,gasoline,33.0,903 cc
15530,Yugo 45 S Manual 3 doors specs,€ 4.944,4 speed manual transmission,gasoline,33.0,903 cc

In [4]:
#storing data in excel for main purpose 
data.to_excel("Carsfile.xlsx")

In [5]:
#taking only cars which are needed in dataset 
# i.e excluding the models which are after 2014 year and not in data set  

data1 = data.iloc[15:19] 
data2 = data.iloc[43:47]
data2 = data1.append(data2)

data3 = data.iloc[55:293]
data3 = data2.append(data3)
data4 = data.iloc[296:321]
data4 = data3.append(data4)

data5 = data.iloc[385:397]
data5 = data4.append(data5)

data6 = data.iloc[482:917]
data6 = data5.append(data6)

data7 = data.iloc[939:948]
data7 = data6.append(data7)

data8 = data.iloc[1108:1130]
data8 = data7.append(data8)

data9 = data.iloc[1134:1565]
data9 = data8.append(data9)

data10 = data.iloc[1570:1685]
data10 = data9.append(data10)

data11 = data.iloc[1686:1809]
data11 = data10.append(data11)

data12 = data.iloc[1812:1894]
data12 = data11.append(data12)

data13 = data.iloc[1962:2639]
data13 = data12.append(data13)

data14 = data.iloc[2698:2702]
data14 = data13.append(data14)

data15 = data.iloc[2711:2889]
data15 = data14.append(data15)
data16 = data.iloc[2903:2915]
data16 = data15.append(data16)
data17 = data.iloc[2920:2930]
data17 = data16.append(data17)
data18 = data.iloc[2940:2973]
data18 = data17.append(data18)
data19 = data.iloc[3112:3151]
data19 = data18.append(data19)
data20 = data.iloc[3222:3781]
data20 = data19.append(data20)
data00 = data.iloc[3810:4197]
data00 = data20.append(data00)
data01 = data.iloc[4200:4378]
data01 = data00.append(data01)
data22 = data.iloc[4400:4559]
data22 = data01.append(data22)
data23 = data.iloc[4599:4855]
data23 = data22.append(data23)
data24 = data.iloc[4907:4964]
data24 = data23.append(data24)
data25 = data.iloc[5085:5238]
data25 = data24.append(data25)
data26 = data.iloc[5281:5237]
data26 = data25.append(data26)
data27 = data.iloc[5431:5633]
data27 = data26.append(data27)
data28 = data.iloc[5636:5792]
data28 = data27.append(data28)
data29 = data.iloc[5868:6107]
data29 = data28.append(data29)
data30 = data.iloc[6149:6193]
data30 = data29.append(data30)
data31 = data.iloc[6198:6208]
data31 = data30.append(data31)
data32= data.iloc[6212:6242]
data32 = data31.append(data32)
data33 = data.iloc[6260:6580]
data33 = data32.append(data33)
data34 = data.iloc[6588:6590]
data34 = data33.append(data34)
data35 = data.iloc[6814:7886]
data35 = data34.append(data35)
data36 = data.iloc[7895:7920]
data36 = data35.append(data36)
data37 = data.iloc[7924:8043]
data37 = data36.append(data37)
data38 = data.iloc[8056:8265]
data38 = data37.append(data38)
data39 = data.iloc[8277:8280]
data39 = data38.append(data39)
data40 = data.iloc[8333:8775]
data40 = data39.append(data40)
data41 = data.iloc[8880:9723]
data41 = data40.append(data41)
data42 = data.iloc[9789:10578]
data42 = data41.append(data42)
data43 = data.iloc[10586:10596]
data43 = data42.append(data43)
data44 = data.iloc[10619:10660]
data44 = data43.append(data44)
data45 = data.iloc[10695:11436]
data45 = data44.append(data45)
data46 = data.iloc[11439:12046]
data46 = data45.append(data46)
data47 = data.iloc[12091:12475]
data47 = data46.append(data47)
data48 = data.iloc[12592:12800]
data48 = data47.append(data48)
data49 = data.iloc[12824:12910]
data49 = data48.append(data49)
data50 = data.iloc[12912:13004]
data50 = data49.append(data50)
data51 = data.iloc[13012:13139]
data51 = data50.append(data51)
data52 = data.iloc[13274:13759]
data52 = data51.append(data52)
data53 = data.iloc[13852:14595]
data53 = data52.append(data53)
data54 = data.iloc[14669:15424]
data54 = data53.append(data54)
Cars1 = data.iloc[15526:15528]
Cars1 = data54.append(Cars1)
Cars1[0:40]

,0,1,3,5,6,10
15,Abarth 500C 1.4 16v T-Jet Competizione Automat...,€ 26.700,5 speed semi-automatic,gasoline,103.0,1368 cc
16,Abarth Punto Evo 1.4 T-Jet 16v Manual 3 doors ...,€ 24.545,6 speed manual transmission,gasoline,121.0,1368 cc
17,Abarth 500 1.4 16v T-Jet Manual 3 doors specs,€ 23.200,5 speed manual transmission,gasoline,99.0,1368 cc
18,Abarth Grande Punto 1.4 T-Jet 16v Manual 3 doo...,€ 21.990,6 speed manual transmission,gasoline,114.0,1368 cc
43,Alfa Romeo 4C 1.750 Tbi Automatic 2 doors specs,€ 75.360,6 speed automatic,gasoline,177.0,1742 cc
44,Alfa Romeo 4C 1.750 Tbi Launch Edition Automat...,€ 68.141,6 speed automatic,gasoline,177.0,1742 cc
45,Alfa Romeo 8C Spider Automatic 2 doors specs,€ 315.500,6 speed semi-automatic,gasoline,331.0,4691 cc
46,Alfa Romeo 8C Competizione Automatic 2 doors s...,€ 220.000,6 speed semi-automatic,gasoline,331.0,4691 cc
55,Alfa Romeo Brera 2.2 JTS Manual 3 doors specs,€ 47.620,6 speed manual transmission,gasoline,136.0,2198 cc
56,Alfa Romeo Brera 2.2 JTS Automatic 3 doors specs,€ 44.250,6 speed semi-automatic,gasoline,136.0,2198 cc
57,Alfa Romeo Brera 3.2 JTS V6 Manual 3 doors specs,€ 54.750,6 speed manual transmission,gasoline,191.0,3195 cc
58,Alfa Romeo Brera 3.2 JTS V6 Q4 Manual 3 doors ...,€ 63.940,6 speed manual transmission,gasoline,191.0,3195 cc
59,Alfa Romeo Brera 3.2 JTS V6 Q4 Automatic 3 doo...,€ 62.750,6 speed automatic,gasoline,191.0,3195 cc
60,Alfa Romeo Brera 2.4 JTDm 20v Manual 3 doors s...,€ 47.950,6 speed manual transmission,diesel,154.0,2387 cc
61,Alfa Romeo Brera 2.4 JTDm 20v Automatic 3 door...,€ 50.450,6 speed automatic,diesel,147.0,2387 cc
62,Alfa Romeo 159 Sportwagon 1.8 Mpi Manual 5 doo...,€ 29.650,5 speed manual transmission,gasoline,103.0,1796 cc
63,Alfa Romeo 159 Sportwagon 1.8 Mpi Progression ...,€ 30.450,5 speed manual transmission,gasoline,103.0,1796 cc
64,Alfa Romeo 159 Sportwagon 1.8 Mpi Sport Manual...,€ 32.895,5 speed manual transmission,gasoline,103.0,1796 cc
65,Alfa Romeo 159 Sportwagon 1.8 Mpi Business Man...,€ 30.395,5 speed manual transmission,gasoline,103.0,1796 cc
66,Alfa Romeo 159 Sportwagon 1.8 Mpi Elegante Man...,€ 33.845,5 speed manual transmission,gasoline,103.0,1796 cc
67,Alfa Romeo 159 Sportwagon 1.9 JTS Progression ...,€ 33.850,6 speed manual transmission,gasoline,118.0,1859 cc
68,Alfa Romeo 159 Sportwagon 1.9 JTS Elegante Man...,€ 35.600,6 speed manual transmission,gasoline,118.0,1859 cc
69,Alfa Romeo 159 Sportwagon 2.2 JTS Progression ...,€ 37.985,6 speed manual transmission,gasoline,136.0,2198 cc
70,Alfa Romeo 159 Sportwagon 2.2 JTS Progression ...,€ 39.985,6 speed semi-automatic,gasoline,136.0,2198 cc
71,Alfa Romeo 159 Sportwagon 2.2 JTS Sport Manual...,€ 38.495,6 speed manual transmission,gasoline,136.0,2198 cc
72,Alfa Romeo 159 Sportwagon 2.2 JTS Business Man...,€ 35.995,6 speed manual transmission,gasoline,136.0,2198 cc
73,Alfa Romeo 159 Sportwagon 2.2 JTS Elegante Man...,€ 39.735,6 speed manual transmission,gasoline,136.0,2198 cc
74,Alfa Romeo 159 Sportwagon 2.2 JTS Elegante Aut...,€ 41.735,6 speed semi-automatic,gasoline,136.0,2198 cc
75,Alfa Romeo 159 Sportwagon 2.2 JTS TI Manual 5 ...,€ 42.735,6 speed manual transmission,gasoline,136.0,2198 cc
76,Alfa Romeo 159 Sportwagon 2.2 JTS TI Automatic...,€ 44.735,6 speed semi-automatic,gasoline,136.0,2198 cc
77,Alfa Romeo 159 Sportwagon 3.2 JTS V6 Progressi...,€ 50.895,6 speed manual transmission,gasoline,191.0,3195 cc
78,Alfa Romeo 159 Sportwagon 3.2 JTS V6 Elegante ...,€ 52.645,6 speed manual transmission,gasoline,191.0,3195 cc
79,Alfa Romeo 159 Sportwagon 3.2 JTS V6 TI Manual...,€ 55.645,6 speed manual transmission,gasoline,191.0,3195 cc
80,Alfa Romeo 159 Sportwagon 3.2 JTS V6 Q4 Progre...,€ 54.045,6 speed manual transmission,gasoline,191.0,3195 cc
81,Alfa Romeo 159 Sportwagon 3.2 JTS V6 Q4 Progre...,€ 56.895,6 speed automatic,gasoline,191.0,3195 cc
82,Alfa Romeo 159 Sportwagon 3.2 JTS V6 Q4 Elegan...,€ 55.795,6 speed manual transmission,gasoline,191.0,3195 cc
83,Alfa Romeo 159 Sportwagon 3.2 JTS V6 Q4 Elegan...,€ 58.645,6 speed automatic,gasoline,191.0,3195 cc
84,Alfa Romeo 159 Sportwagon 3.2 JTS V6 Q4 TI Man...,€ 58.795,6 speed manual transmission,gasoline,191.0,3195 cc
85,Alfa Romeo 159 Sportwagon 3.2 JTS V6 Q4 TI Aut...,€ 61.645,6 speed automatic,gasoline,191.0,3195 cc
86,Alfa Romeo 159 Sportwagon 1.9 JTDm 8v Manual 5...,€ 32.950,6 speed manual transmission,diesel,88.0,1910 cc

In [6]:

Cars1.to_csv("Cars.csv", header=["Make/Model","Price","Transmission","Fuel","Power","Engine CC"], index= False)
# Cars1

In [7]:
#Normalising the data
import re 
import numpy as np
def find_no(text):
    n = re.findall(r'[0-9]+',text)
    return "".join(n)

data = pd.read_csv("Cars.csv")

data['Make/Model'] = data['Make/Model'].str.replace("Alfa Romeo","Alfa-Romeo")
data['Make/Model'] = data['Make/Model'].str.replace("Land Rover","Land-Rover")
data['Make/Model'] = data['Make/Model'].str.replace("Aston Martin","Aston-Martin")
data['Make/Model'] = data['Make/Model'].str.replace("Mercedes-Benz","Mercedes")

new = data['Make/Model'].str.split(" ", expand = True)
data['Make'] = new[0]
data['Model'] = new[1]

#data.head()
data.drop(['Make/Model'],axis = 1)

data['Price'] = data['Price'].str.replace('€','')
data['Price'] = pd.to_numeric(data['Price'])
data['Price'].to_csv("data1.csv", header=["Price"], index = False)

data['Transmission'] = data['Transmission'].apply(lambda x: find_no(x))
data['Transmission'].replace('',0,inplace=True)

data['Fuel'] = data['Fuel'].fillna('Fuel/Gasoline/diesel/Automatic')

data['Power'] = data['Power'].fillna(0)

data['Engine CC']= data['Engine CC'].str.replace('cc','')
data['Engine CC']= data['Engine CC'].str.replace('n.b.','')
data['Engine CC']= data['Engine CC'].str.replace('nm','')
data['Engine CC'].replace('',0,inplace=True)

data['Price'] = data['Price'].astype(float)
data['Transmission'] = data['Transmission'].astype(float)
data['Engine CC'] = data['Engine CC'].astype(float)
data['Power'] = data['Power'].astype(float)

data.to_csv("car1.csv")

In [8]:
print("Car companies :")
print(len(data.Make.unique()))
print("Car companies model accordingly :")
print(len(data.Model.unique()))

Car companies :
61
Car companies model accordingly :
896

In [9]:

makes = list(data.Make.unique())
unique = list(data.Model.unique())
all_data = list(data['Model']) 

make = []
model =[]
price = []
transmission = []
engine = []
power = []
fuel_type = []

for i in range(len(unique)):
    prices = []
    transmissions = []
    engines = []
    powers = []
    fuels = []
    models = []
    makes = []
    for j in range(len(all_data)):
        if (unique[i]) == (all_data[j]):
            
            makes.append(data['Make'][j])  
            prices.append(data['Price'][j])
            transmissions.append(data['Transmission'][j])
            engines.append(data['Engine CC'][j])
            powers.append(data['Power'][j])
            fuels.append(data['Fuel'][j])

    make.append(makes[0])        
    model.append(unique[i])
    price.append(sum(prices)/len(prices))
    transmission.append(sum(transmissions)/len(transmissions))
    engine.append(sum(engines)/len(engines))
    power.append(sum(powers)/len(powers))
    fuel_type.append(max(fuels,key=fuels.count))

In [10]:
# print(len(make))
# print(len(model))
# print(len(price))
# print(len(transmission))
# print(len(engine))
# print(len(power))
# print(len(fuel_type))



a = [make,model,price,transmission,engine,power,fuel_type]
df = pd.DataFrame(list(zip(*[make,model,price,transmission,engine,power,fuel_type])))
df["Make/Model"] = df[[0,1]].apply(lambda x: ' '.join(x), axis=1)
df.to_csv("mdata.csv",header=["Make","Model","Price","Transmission","Engine CC","Power","Fuel","Make/Model"], index= False)

In [11]:
carsdata = pd.read_csv("Carsdata.csv")

carsdata['Make/Model'] = carsdata['Make/Model'].str.replace("ALFA ROMEO","ALFA-ROMEO")
carsdata['Make/Model'] = carsdata['Make/Model'].str.replace("LAND ROVER","LAND-ROVER")
carsdata['Make/Model'] = carsdata['Make/Model'].str.replace("ASTON MARTIN","ASTON-MARTIN")

new = carsdata['Make/Model'].str.split(" ", expand = True)
carsdata.drop('Make/Model',1)
carsdata['Make'] = new[0]
carsdata['Model'] = new[1]
carsdata.drop('Make/Model',1)
carsdata["Make/Model"] = carsdata[['Make','Model']].apply(lambda x: ' '.join(x), axis=1)

carsList = list(carsdata['Make/Model'])
carsList = list(set(carsList))
carsList.sort()
uniqueCarsList = []


for row in carsList:
    if 'Model Missing' not in row:
        uniqueCarsList.append(row)

In [12]:
df = pd.read_csv('mdata.csv')

make = []
model = []
Year = []
Make_Model = []
price = []
transmission = []
fuel = []
power = []
engine_CC = []
male = []
female = []
unknown =[]
total = []

for i in range(len(carsdata['Make/Model'])):
    for j in range(len(df['Make/Model'])):
        if (carsdata['Make/Model'][i]).upper() in (df['Make/Model'][j]).upper():
            Year.append(carsdata['Year'][i])
            make.append(df['Make'][j])
            model.append(df['Model'][j])
            Make_Model.append(df['Make/Model'][j])
            price.append(df['Price'][j])
            transmission.append(df['Transmission'][j])
            fuel.append(df['Fuel'][j])
            power.append(df['Power'][j])
            engine_CC.append(df['Engine CC'][j])
            male.append(carsdata['Male'][i])
            female.append(carsdata['Female'][i])
            unknown.append(carsdata['Unknown'][i])
            total.append(carsdata['Total'][i])
            break

In [14]:
#combined data 

b = [Year,make,model,Make_Model,price,transmission,power,engine_CC,fuel,male,female,unknown,total]
df = pd.DataFrame(list(zip(*[Year,make,model,Make_Model,price,transmission,power,engine_CC,fuel,male,female,unknown,total])))
df.to_csv("Data.csv",header=["Year","Make","Model","Make/Model","Price","Transmission","Power","Engine CC","Fuel","Male","Female","Unknown","Total"], index= False)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2013,Ford,Focus,Ford Focus,30.619322,5.966102,94.033898,1497.169492,gasoline,"8,14,172","4,22,731","56,487","12,93,390"
1,2013,Ford,Fiesta,Ford Fiesta,18.532143,5.714286,68.571429,1166.142857,gasoline,"5,54,879","6,31,666","54,057","12,40,602"
2,2013,Volkswagen,Golf,Volkswagen Golf,31.242154,6.164835,89.461538,1537.406593,gasoline,"4,83,216","3,10,604","47,563","8,41,383"
3,2013,Renault,Clio,Renault Clio,22.100000,5.615385,75.576923,1219.653846,gasoline,"2,41,287","3,12,556","28,004","5,81,847"
4,2013,BMW,320i,BMW 320i,47.848370,6.444444,126.111111,1995.777778,gasoline,"4,08,016","1,15,843","29,125","5,52,984"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6087,1994,Land-Rover,Defender,Land-Rover Defender,108.747195,7.853659,207.609756,2304.975610,diesel,"1,012",150,80,"1,242"
6088,1994,Toyota,RAV4,Toyota RAV4,43.548516,1.354839,137.774194,2261.193548,gasoline,670,482,66,"1,218"
6089,1994,Alfa-Romeo,Spider,Alfa-Romeo Spider,55.200000,6.000000,163.500000,2696.500000,gasoline,790,247,81,"1,118"
6090,1994,Honda,Shuttle,Honda Shuttle,30.081000,4.000000,110.000000,2254.000000,gasoline,639,416,49,"1,104"
6091,1994,Mitsubishi,Space,Mitsubishi Space,23.165158,3.947368,82.157895,1817.315789,gasoline,721,251,40,"1,012"